<!DOCTYPE html>
<html>
  <head>
    <title>BookManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <header>
      <ul class="header-menus">
        <li>
        <%= link_to("Book-Manager", "/") %>
        </li>
        <% if current_user %>
        <li>
          <%= link_to("Book List", "/books") %>
        </li>
        <li>
          <%= link_to("Add New Books", "/books/new") %>
        </li>
        <li>
          <%= link_to("Profile", "/users/#{current_user.id}") %>
        </li>
        <% end %>
      </ul>
    </header>
      <%= yield %>
      </body>
</html>
