<h1 class="head-title">Edit</h1>
<div class="main posts-index">
  <div class="container">
    <h3 class='form-heading'>Edit</h3>
      <%= form_for :book, url: "/books/#{@books.id}/update" do |f| %>
        <%= f.label :title %><br>
        <%= f.text_field :title, value: @books.title %><br>
        <%= f.label :description %><br>
        <%= f.text_area :description, value: @books.description%><br>
        <%= f.label :rating %><br>
        <%= f.select :rating, [['very bad', 1], ['bad', 2], ['ok', 3], ['good', 4], ['excelent', 5]], {class: "form-control"} %><br><br>
        <%= f.hidden_field :user_id, value: current_user.id%>
        <%= f.submit "Update", class: "btn btn-primary" %>
      <% end %>
  </div>
</div>
