<div class="container">
      <table class="posts-index-item">
        <%= search_form_for @q do |f| %>
          <%= f.search_field :title_cont, class: "search-field", placeholder: "Book Title" %>
          <%= f.submit "search", class: "btn btn-primary" %>
        <% end %>
        <thead class="posts-table-head">
          <tr>
            <th class="table-title" width=20%>Title</th>
            <th class="table-title" width=13%>Borrowed at</th>
            <th class="table-title" width=13%>Due Date</th>
            <th class="table-title" width=13%>Returned at</th>
            <th class="table-title" width=20%>Borrowed by</th>
            <th class="table-title" width=15%>Total Review</th>
          </tr>
        </thead>
      </table>
      <% @books.each do |book| %>
        <table class="posts-index-item">
          <tbody>
            <td class="table-data" width=20%>
              <%= link_to(book.title, "books/#{book.id}") %>
            </td>
            <td class="table-data" width=13%>
                <%= book.last_log_borrowed_date %>
            </td>
            <td class="table-data" width=13%>
                <%= book.last_log_due_date %>
              </td>
            <td class="table-data" width=13%>
                <%= book.last_log_returned_date %>
              </td>
            <td class="table-data" width=20%>
              <% if book.borrowed_by.present? %>
                <%= link_to(User.borrowed_user_name(book), "users/#{book.borrowed_by}") %>
              <% end %>
            </td>
            <td class="table-data" width=15%>
              <% book.rating.to_i.times do %>
                <span class="glyphicon glyphicon-star"></span>
              <% end %>
              <% book.blank_stars.to_i.times do %>
                <span class="glyphicon glyphicon-star-empty"></span>
              <% end %>
            </td>
          </tbody>
        </table>
      <% end %>
    </div>
