<h1>Book List</h1>
  <div class="main posts-index">
    <div class="container">
      <%= search_form_for @q do |f| %>
      <%= f.label :title %><br>
      <%= f.search_field :title_cont %>
      <%= f.submit "search", class: "btn btn-primary" %>
      <% end %>
      <br>
      <table class="posts-index-item">
      <thead>
        <tr>
      <th>Title</th>
      <th>Description</th>
      <th>User</th>
      <th>Review</th>
      </tr>
      </thead>
      </table>

      <% @books.each do |book| %>
        <table class="posts-index-item">
        <tbody>
          <td width=25%>
          <%= link_to(book.title, "books/#{book.id}") %>
          </td>
          <td width=25%>
          <%= link_to(book.description, "books/#{book.id}") %>
          </td>
          <td width=25%>
          <%= link_to(book.user.name, "users/#{book.user_id}") %>
          </td>
          <td width=25%>
            <% book.rating.to_i.times do  %>
            <span class="glyphicon glyphicon-star"></span>
            <% end %>
            <% book.blank_stars.to_i.times do  %>
            <span class="glyphicon glyphicon-star-empty"></span>
            <% end %>
          </td>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
