<h1 class="head-title">Book List</h1>
<h3 class='page-title'><%= @books.title %></h3>

<div class="white-box">
  <h3 class="show-title">Title</h3>
  <p class="show-paragraph"><%= @books.title %></p>
  <h3 class="show-title">Description</h3>
  <p class="show-paragraph"><%= @books.description %></p>
  <h3 class="show-title">User</h3>
  <p class="show-paragraph"><%= link_to(@books.user.name, "/users/#{@books.user_id}") %></p>
  <h3 class="show-title">Review</h3>

  <div class="show-paragraph">
    <% @books.rating.to_i.times do  %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% @books.blank_stars.to_i.times do  %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  </div><br>

  <div class="show-paragraph">
    <%= button_to "Borrow", {controller: 'books', action: 'rental'}, {method: :post, params: {id: @books.id}, class: "btn btn-primary"}%><br>
  </div>
</div>

<div class="white-box-container-link">
  <% if current_user == @books.user %>
    <%= link_to("Edit", "/books/#{@books.id}/edit", class: "btn btn-primary") %>
    <%= link_to("Delete", "/books/#{@books.id}/destroy", {method: "post", class: "btn btn-primary"}) %>
  <% end %>
</div>
