<h1 class="head-title">Book List</h1>
<h3 class='page-title'><%= @book.title %></h3>

<div class="white-box">
  <h3 class="show-title">Title</h3>
  <p class="show-paragraph"><%= @book.title %></p>
  <h3 class="show-title">Description</h3>
  <p class="show-paragraph"><%= @book.description %></p>
  <h3 class="show-title">User</h3>
  <p class="show-paragraph"><%= link_to(@book.user.name, "/users/#{@book.user_id}") %></p>
  <h3 class="show-title">Review</h3>

  <div class="show-paragraph">
    <% @book.rating.to_i.times do  %>
      <span class="glyphicon glyphicon-star"></span>
    <% end %>
    <% @book.blank_stars.to_i.times do  %>
      <span class="glyphicon glyphicon-star-empty"></span>
    <% end %>
  </div><br>

  <div class="show-paragraph">
    <%= button_to "Borrow", {controller: 'books', action: 'rental'}, {method: :post, params: {id: @book.id}, class: "btn btn-primary"}%><br>
  </div>
  <div class="show-paragraph">
    <%= button_to "Return", {controller: 'books', action: 'return'}, {method: :post, params: {id: @book.id}, class: "btn btn-primary"}%><br>
  </div>
</div>

<div class="white-box-container-link">
  <% if current_user == @book.user %>
    <%= link_to("Edit", "/books/#{@book.id}/edit", class: "btn btn-primary") %>
    <%= link_to("Delete", "/books/#{@book.id}/destroy", {method: "post", class: "btn btn-primary"}) %>
  <% end %>
</div>
