<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
  <h3 class='page-title'><%= @book.title %></h3>

  <div class="white-box">
    <div class="show-left-wrapper">
      <h3 class="show-title">Title</h3>
      <p class="show-paragraph"><%= @book.title %></p>
      <h3 class="show-title">Description</h3>
      <p class="show-paragraph"><%= @book.description %></p>
      <h3 class="show-title">User</h3>
      <p class="show-paragraph"><%= link_to(@book.user.name, "/users/#{@book.user_id}") %></p>
      <h3 class="show-title">Borrowing</h3>
      <p class="show-paragraph"><%= link_to(@book.borrowing_user, "users/#{@book.user_id}") %></p>
      <h3 class="show-title">Review</h3>

      <div class="show-paragraph">
        <% @book.rating.to_i.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% @book.blank_stars.to_i.times do  %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </div><br>

    </div>

  <div class="show-right-wrapper">
    <h3 class="show-title">Borrowed Date</h3>
    <p class="show-paragraph"><%= @book.last_log_borrowed_date %></p>
    <h3 class="show-title">Due Date</h3>
    <p class="show-paragraph"><%= @book.last_log_due_date %></p>
    <h3 class="show-title">Returned Date</h3>
    <p class="show-paragraph"><%= @book.last_log_returned_date %></p>
    <br>
    <% if @book.status == "not_borrowed"%>
      <div class="show-paragraph">
        <%= button_to "Borrow", {controller: 'books', action: 'rental'}, {method: :post, params: {id: @book.id}, class: "btn btn-primary"}%><br>
      </div>
    <% end %>
    <% if current_user.id == @book.borrowing_user %>
      <div class="show-paragraph">
        <%= link_to("Return", "/books/#{@book.id}/return_book", class: "btn btn-primary")%><br>
      </div>
    <% end %>
  </div>
  </div>
  <div class="white-box-container-link">
    <% if current_user == @book.user %>
      <%= link_to("Edit", "/books/#{@book.id}/edit", class: "btn btn-primary") %>
      <%= link_to("Delete", "/books/#{@book.id}/destroy", {method: "post", class: "btn btn-primary"}) %>
    <% end %>
  </div>
</div>
