<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
  <h3 class='page-title'><%= @book.title %></h3>

  <div class="white-box">
    <div class="show-left-wrapper">
      <h3 class="show-title">Title</h3>
      <p class="show-paragraph"><%= @book.title %></p>
      <!-- <h3 class="show-title">Description</h3>
      <p class="show-paragraph"><%#= @book.description %></p> -->
      <!-- <h3 class="show-title">User</h3>
      <p class="show-paragraph"><%#= link_to(@book.user.name, "/users/#{@book.user_id}") %></p> -->
      <h3 class="show-title">Borrowing</h3>
      <p class="show-paragraph">
        <% if @book.borrowing_user.present? %>
          <%= link_to(@book.borrowing_user_name, "/users/#{@book.borrowing_user}") %>
        <% end %>
      </p>
      <h3 class="show-title">Total Review</h3>

      <div class="show-paragraph">
        <% @book.rating.to_i.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% @book.blank_stars.to_i.times do  %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </div><br>

    </div>

  <div class="show-right-wrapper">
    <h3 class="show-title">Borrowed Date</h3>
    <p class="show-paragraph"><%= @book.last_log_borrowed_date %></p>
    <h3 class="show-title">Due Date</h3>
    <p class="show-paragraph"><%= @book.last_log_due_date %></p>
    <h3 class="show-title">Returned Date</h3>
    <p class="show-paragraph"><%= @book.last_log_returned_date %></p>
    <br>
    <% if @book.status == "not_borrowed"%>
      <div class="show-paragraph">
        <%= button_to "Borrow", {controller: 'books', action: 'rental'}, {method: :post, params: {id: @book.id}, class: "btn btn-primary"}%><br>
      </div>
    <% end %>
    <% if current_user.id == @book.borrowing_user %>
      <div class="show-paragraph">
        <%= link_to("Return", "/books/#{@book.id}/return_book", class: "btn btn-primary")%><br>
      </div>
    <% end %>
  </div>
  </div>
  <div class="white-box-container-link">
    <% if current_user == @book.user %>
      <%= link_to("Edit", "/books/#{@book.id}/edit", class: "btn btn-primary") %>
      <%= link_to("Delete", "/books/#{@book.id}/destroy", {method: "post", class: "btn btn-primary"}) %>
    <% end %>
  </div>

  <h3 class='sub-title'>History</h3>

  <div class="show-box">
    <table class="show-box-th">
      <thead class="posts-table-head">
        <th width=15%>Borrowed User</th>
        <th width=15%>Borrowed Date</th>
        <th width=15%>Due Date</th>
        <th width=15%>Returned Date</th>
        <th width=15%>Comment</th>
        <th width=15%>Review</th>
      </thead>
      <% book_logs = RentalLog.same_book_logs(@book.id) %>
        <% book_logs.map do |book_log| %>
          <table class="show-box-th">
            <% logs_users = User.where(id: book_log.user_id) %>
            <% logs_users.each do |logs_user| %>
              <td class='show-td' width=15%>
                <%= logs_user.name %>
              </td>
            <% end %>
            <td class='show-td' width=15%>
              <%= book_log.borrowed_date%>
            </td>
            <td class='show-td' width=15%>
              <%= book_log.due_date%>
            </td>
            <td class='show-td' width=15%>
              <%= book_log.return_date%>
            </td>
            <td class='show-td' width=15%>
              <% if book_log.comment.present? %>
                <%= book_log.comment%>
              <% else %>
                <p>No Comment</p>
              <% end %>
            </td>
            <td class='show-td' width=15%>
              <% if book_log.rating.present? %>
                <% book_log.rating.to_i.times do  %>
                  <span class="glyphicon glyphicon-star"></span>
                <% end %>
                <% book_log.blank_stars.to_i.times do  %>
                  <span class="glyphicon glyphicon-star-empty"></span>
                <% end %>
              <% else %>
                <p>No Review</p>
              <% end %>
            </td>
          </table>
        <% end %>
    </table>
  </div>
</div>
