<h1>登録書籍</h1>
<h4>タイトル</h4>
  <%= @books.title %>
<h4>感想</h4>
  <%= @books.description %>
<h4>登録ユーザー</h4>
  <%= link_to(@books.user.name, "/users/#{@books.user_id}") %>
<div class="post-menus">
  <%= link_to("編集", "/books/#{@books.id}/edit") %>
  <%= link_to("削除", "/books/#{@books.id}/destroy", {method: "post"}) %>
</div>
