<h1>登録書籍</h1>
<h4>タイトル</h4>
  <%= @book.title %>
<h4>感想</h4>
  <%= @book.description %>
<h4>登録ユーザー</h4>
  <%= @book.username %>
<div class="post-menus">
  <%= link_to("編集", "/books/#{@book.id}/edit") %>
  <%= link_to("削除", "/books/#{@book.id}/destroy", {method: "post"}) %>
</div>
