<h1>Book List</h1>
<div class="main posts-index">
  <div class="container">
    <table class="posts-index-item">
      <td width=50%>Title</td>
      <td width=50%><%= @books.title %></td>
    </table>
    <table class="posts-index-item">
      <td width=50%>Description</td>
      <td width=50%><%= @books.description %></td>
    </table>
    <table class="posts-index-item">
      <td width=50%>User</td>
      <td width=50%><%= link_to(@books.user.name, "/users/#{@books.user_id}") %></td>
    </table>
    <table class="posts-index-item">
      <td width=50%>Review</td>
      <td width=50%>
        <% @books.rating.to_i.times do  %>
          <span class="glyphicon glyphicon-star"></span>
        <% end %>
        <% @books.blank_stars.to_i.times do  %>
          <span class="glyphicon glyphicon-star-empty"></span>
        <% end %>
      </td>
    </table>
    <table class="posts-index-item">
      <td width=50%>Rent</td>
      <td width=50%><%= link_to("Rent button", "/users/#{@books.user_id}") %></td>
    </table>

  <div class="post-menus">
    <%= button_to "Borrow", {controller: 'books', action: 'rental'}, {method: :post, params: {id: @books.id}} %>
    <%= link_to("編集", "/books/#{@books.id}/edit") %>
    <%= link_to("削除", "/books/#{@books.id}/destroy", {method: "post"}) %>
  </div>
